
  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Role</th>
            <th scope="col">Active</th>
            <th scope="col" *ngIf="role == 1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let User of users">
            <td>{{User.id}}</td>
            <td>{{User.name}}</td>
            <td>{{User.role.description}}</td>
            <td>{{User.active == 1 ? 'Active' : 'Inactive'}}</td>
            <td *ngIf="role == 1"><button class="btn btn-lg btn-outline-primary" (click)="OpenUpdate(content,User)">Update</button></td>
          </tr>
        </tbody>
      </table>
  </div>
  
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <form [formGroup]="updateForm" (ngSubmit)="OnSubmit()" style="padding: 20px;">
            
    
            <div class="form-floating">
                <input type="text" formControlName="username" class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <select name="select"  class="form-control" placeholder="Role" formControlName="role">
                    <option value="1" selected>Admin</option>
                    <option value="2">Operative</option>
                </select>
            </div>
            <div class="form-floating" style="padding:10px">
                <input type="checkbox" formControlName="active">   Active
            </div>
        </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="!updateForm.valid" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>